
            <h1>Order details</h1>
            <div class="catalog">
                <div class="column">
                    <img src="static/img/chicken-21.png">
                </div>
                <div class="column">
                    <h2>Chicken doner, 21cm</h2>
                    <h3>From 22.Oct 2017 10:35</h3>
                    <div class="toppings">
                        Pickles<br>
                        Tomato<br>
                        Onion<br>
                        Lettuce<br>
                    </div>
                </div>
                <div class="status">
                    <div class="status-block">
                        <span class="progress-right"></span>
                        <span class="checkpoint"></span><br>
                        Pending
                    </div>
                    <div class="status-block">
                        <span class="progress-left"></span>
                        <span class="progress-right"></span>
                        <span class="checkpoint current"></span><br>
                        In progress
                    </div>
                    <div class="status-block">
                        <span class="progress-left"></span>
                        <span class="progress-right"></span>
                        <span class="checkpoint"></span><br>
                        In transit
                    </div>
                    <div class="status-block">
                        <span class="progress-left"></span>
                        <span class="checkpoint"></span><br>
                        Delivered
                    </div>
                </div>
        