
            <h1>Your orders</h1>
            <div class="orders">
                <div class="order">
                    <span class="order-time">22.Oct 2017 10:35</span>
                    <span class="order-name">Chicken doner, 21 cm</span>
                    <span class="order-status">Pending</span>
                    <a href="order-details.html" class="button order-button">Details</a>
                </div>
                <div class="order">
                        <span class="order-time">22.Oct 2017 10:12</span>
                        <span class="order-name">Lamb doner, 17 cm</span>
                        <span class="order-status">In transit</span>
                        <a href="order-details.html" class="button order-button">Details</a>
                    </div>
                <div class="order">
                    <span class="order-time">21.Oct 2017 16:15</span>
                    <span class="order-name">Chicken doner, 24 cm</span>
                    <span class="order-status">Delivered</span>
                    <a href="order-details.html" class="button order-button">Details</a>
                </div>
                <div class="order">
                    <span class="order-time">20.Oct 2017 10:35</span>
                    <span class="order-name">Beef doner, 21 cm</span>
                    <span class="order-status">Delivered</span>
                    <a href="order-details.html" class="button order-button">Details</a>
                </div>
            </div>
    