<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
    <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/images/expressjs-card.png" alt="expressLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="/addbook">Add Book</a></li>
                    <li><a href="/viewAllbooks">View All Books</a></li>
                </ul>
            </nav>
        </div>
    </header>
     {{{body}}}
</body>

</html>