                <section>
                    <h2>Create new article</h2>
                    <div class="spacer">
                        <form action="/articles/addArticle" method="POST">
                            <label>Article title</label>
                            <input type="text" class="title" name="title">
                            <label>Content</label>
                            <textarea name="content"></textarea>
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </section>