<div class="spacer">
                    <h2>{{title}}
                        <div class="controls">
                            <a href="/articles/editArticle/{{_id}}">[edit]</a>
                            <a href="/articles/history/{{_id}}">[history]</a>
                        </div>
                    </h2>
                    <article>
                        <p>{{content}}</p>
                    </article>
                </div>