table{
    font-family: sans-serif;
    color: #333;
    border-spacing:0;
    margin: auto;
}
thead th{
    color: #ffffff;
    background-color: #90b4d6;
    text-align: center;
    letter-spacing: 2px;
    width: 150px;
    padding: 5px 30px 5px 10px;
    font-size: 18px;
}
tbody td,tbody th{
    padding: 5px 30px 5px 10px;
    font-size: 18px;
    margin: 0px;
    text-align: left;
    background-color: #84b3ad;
    width: 150px;
    font-weight: normal;
}
tr:nth-child(even) td, tr:nth-child(even) th {
    background-color: #689ad8;
}

