
            <h1>Welcome to Doner Place!</h1>
            <p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef and lamb and any topping you want. Place your order now!</p>
            <div class="products">
				<h2>Admin</h2>
				<div class="product-card">
					<img src="static/img/new.png">
					<a href="customize-order.html" class="button product-title">Create Product</a>
				</div>
                <h2>Chicken Doner</h2>
                <div class="product-card">
					<img src="static/img/chicken-17.png">
					<a href="#" class="control"><img class="control-img" src="static/img/edit.png"></a>
					<a href="#" class="control"><img class="control-img" src="static/img/delete.png"></a>
				</div>
                <div class="product-card">
					<img src="static/img/chicken-21.png">
					<a href="#" class="control"><img class="control-img" src="static/img/edit.png"></a>
					<a href="#" class="control"><img class="control-img" src="static/img/delete.png"></a>
				</div>
                <div class="product-card">
					<img src="static/img/chicken-24.png">
					<a href="#" class="control"><img class="control-img" src="static/img/edit.png"></a>
					<a href="#" class="control"><img class="control-img" src="static/img/delete.png"></a>
				</div>
                <h2>Beef Doner</h2>
                <div class="product-card">
					<img src="static/img/beef-17.png">
					<a href="#" class="control"><img class="control-img" src="static/img/edit.png"></a>
					<a href="#" class="control"><img class="control-img" src="static/img/delete.png"></a>
				</div>
                <div class="product-card">
					<img src="static/img/beef-21.png">
					<a href="#" class="control"><img class="control-img" src="static/img/edit.png"></a>
					<a href="#" class="control"><img class="control-img" src="static/img/delete.png"></a>
				</div>
                <div class="product-card">
					<img src="static/img/beef-24.png">
					<a href="#" class="control"><img class="control-img" src="static/img/edit.png"></a>
					<a href="#" class="control"><img class="control-img" src="static/img/delete.png"></a>
				</div>
                <h2>Lamb Doner</h2>
                <div class="product-card">
					<img src="static/img/lamb-17.png">
					<a href="#" class="control"><img class="control-img" src="static/img/edit.png"></a>
					<a href="#" class="control"><img class="control-img" src="static/img/delete.png"></a>
				</div>
                <div class="product-card">
					<img src="static/img/lamb-21.png">
					<a href="#" class="control"><img class="control-img" src="static/img/edit.png"></a>
					<a href="#" class="control"><img class="control-img" src="static/img/delete.png"></a>
				</div>
                <div class="product-card">
					<img src="static/img/lamb-24.png">
					<a href="#" class="control"><img class="control-img" src="static/img/edit.png"></a>
					<a href="#" class="control"><img class="control-img" src="static/img/delete.png"></a>
				</div>
				</div>
         