@media screen and (max-width: 1200px){
    #wrapper{
        width: 100%;
    }
    header,main{
        width: 80%;
    }
    header {
        background-size: cover;
    }

    header > h1 {
        font-size: 6em;
        line-height: 0.8em;
    }
    header nav ul li{
        width: 20%;
    }
    main section{
        width: 90%;
        margin: 40px auto 0;
        float: none;
    }
    main aside{
        width: 90%;
        float: none;
    }
    footer{
        text-align: center;
    }
}
@media screen and (max-width: 730px) and (max-width: 500px){

}