body{
    background-color: #cccccc;
    margin: 0px;
    padding: 0px;
}
section{
    margin-left: 20px;
}
article > p{
    font-size: 24px;
}
header p{
    font-style: italic;
}
h1{
    font-size: 28px;
}