
            <form method="post" action="/products/create-product">
			  <h2>Create Product</h2>
			  <div>
				<label for="category">Category</label>
				<select name="category" id="category">
				  <option value="beef">Beef</option>
				  <option value="chicken">Chicken</option>
				  <option value="lamb">Lamb</option>
				</select>
			  </div>
			   <div>
				<label for="imageUrl">Image Url</label>
				<input id="imageUrl" name="imageUrl" type="text">
			  </div>
			  <div>
				<label for="size">Size</label>
				<input id="size" name="size" type="number">
			  </div>
			  <div>
				<strong>Toppings</strong><br>
				<textarea name="toppings"></textarea>
			  </div>
			  <div>
				<input type="submit" value="Create" class="button" style="border:0"/>
			  </div>
			</form>