<h1>Auto Market "DIMITAR AUTO"</h1>
<img src="https://www.khtt.net/image/2017/4/11/auto_market.jpg%28mediaclass-landscape-large.1df3d6f438769113d26ed8577bc84d61afea2a7e%29.jpg" alt="">
<section class='left  list-group-item clearfix'>
  <div class="container">  
    <h3>Info about us</h3>
    <p style="margin-top: 40px">The Auto Market was founded in 2000 year in the otskirts of Sliven, Bulgaria. Оur loyalty to customers has made us one of the most successful in this area.</p>
  </div>
</section>
<section class="right  list-group-item clearfix">
    <div class="container">
      <h3 class="text-center">Contacts</h3>
      <section class="left">
        <p class="lead">Work Time</p>
        <p>Monday - Friday: 09:00 - 18:30</p>
        <p>Saturday: 10:30 - 18:00</p>
      </section>
      <section class="right">
          <p class="lead">Address</p>
          <p>bul. Tsar Simeon Sliven Bulgaria</p>
          <p class="lead">Phone</p>
          <p>+359 12 345 6789</p>
        </section>
    </div>
  </section>




