<div class="container">
  <div class="row space-top">
      <div class="col-md-12">
          <h1>Furniture Details</h1>
      </div>
  </div>
  <div class="row space-top">
      <div class="col-md-4">
          <div class="card text-white bg-primary">
              <div class="card-body">
                  <blockquote class="card-blockquote">
                      <img src="{{data.image}}" />
                  </blockquote>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <p>Make: {{data.make}}</p>
          <p>Model: {{data.model}}</p>
          <p>Year: {{data.year}}</p>
          <p>Description: {{data.description}}</p>
          <p>Price: {{data.price}}</p>
          <p>Material: {{data.material}}</p>
      </div>
  </div>
</div>
