div#wrapper{
    width: 700px;
    height: 730px;
    border: 1px solid #000000;
    padding: 10px;
    background:#a6e1ec;
    margin: auto;
}
img{
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}
.text{
    color:#2EA620;
}
li{
    width: 600px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000000;
}